@font-face {
  font-family: "iconfont"; /* Project id 2811994 */
  src: url('iconfont.woff2?t=1632106789176') format('woff2'),
       url('iconfont.woff?t=1632106789176') format('woff'),
       url('iconfont.ttf?t=1632106789176') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ios:before {
  content: "\e676";
}

.icon-android:before {
  content: "\e664";
}

.icon-jiantou_you:before {
  content: "\e636";
}

.icon-sousuo:before {
  content: "\e66c";
}

.icon-7:before {
  content: "\e600";
}

.icon-iconfontweixin:before {
  content: "\e635";
}

.icon-buoumaotubiao46:before {
  content: "\e629";
}

.icon-simqia:before {
  content: "\e61d";
}

.icon-xiangshang:before {
  content: "\e665";
}

.icon-weibo:before {
  content: "\e67a";
}

.icon-gouwuche:before {
  content: "\e634";
}

.icon-huiyuanlibao:before {
  content: "\e651";
}

.icon-gfjianzhuwu:before {
  content: "\e7cb";
}

.icon-icon_shizhong-:before {
  content: "\e643";
}

.icon-F_round:before {
  content: "\e632";
}

.icon-jiantouyou:before {
  content: "\e61c";
}

.icon-jiantou:before {
  content: "\e83b";
}

.icon-line-exchangecnyrenminbizhuanhuan:before {
  content: "\e749";
}

.icon-geren:before {
  content: "\e606";
}

.icon-xinxi:before {
  content: "\e633";
}

.icon-15:before {
  content: "\e639";
}

.icon-24huafei:before {
  content: "\e66f";
}

.icon-fuwuerji2:before {
  content: "\e7e0";
}

.icon-dingwei1:before {
  content: "\e617";
}

.icon-shouji:before {
  content: "\e697";
}

