// 初始化
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
// 自定义颜色
$gray:#b0b0b0;
$orange:#ff6700;
// 版心
.container{
    width: 1226px;
    margin: 0 auto;
}
// 通栏
.container-fulid{
    width: 100%;
}
.l{
    float: left;
}
.r{
    float: right;
}
.clear{
    content: "";
    display: block;
    clear: both;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
// 顶部导航栏
.nav-top{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: $gray;
    background-color: #333;
    ul{
        float: left;
        li{
            position: relative;
            float: left;
            margin-right: 11px;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -6px;
                width: 1px;
                height: 16px;
                background-color: #424242;
            }
            &:nth-last-of-type(1)::after{
                content: none;
            }
            &:hover{
                color: white;
            }
        }
    }
    ol{
        float: right;
        li{
            position: relative;
            float: left;
            margin-left: 11px;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -6px;
                width: 1px;
                height: 16px;
                background-color: #424242;
            }
            &:nth-last-of-type(-n + 2)::after{
                content: none;
            }
            &:hover{
                color: white;
            }
        }
        .nav-btn{
            width: 120px;
            background-color: #424242;
            text-align: center;
            cursor: pointer;
            &:hover{
                color: $orange;
                background-color: white;
            }
        }
    }

}
.load-app{
    position: relative;
    &:hover{
        &::before{
            display: block;
        }
        .down-img{
            height: 148px;
        }
    }
    &::before{
        display: none;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid white;
    }
    .down-img{
        position: absolute;
        overflow: hidden;
        transition: .4s;
        transition-property: height;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 124px;
        height: 0px;
        background-color: white;
        z-index: 999;
        text-align: center;
        box-shadow: 0 2px 5px -2px #aaa;
        img{
            display: block;
            width: 90px;
            margin: 18px auto 12px;
        }
        span{
            display: block;
            font-size: 14px;
            height: 14px;
            line-height: 14px;
            color: black;
        }
    }
}
// 底部
.foot{
    background-color: #fafafa;
    padding: 30px 0px;
    overflow: hidden;
    img{
        width: 56px;
        float: left;
        margin-right: 10px;
    }
    ul li{
        float: left;
        font-size: 12px;
        color: #757575;
        position: relative;
        margin-right: 10px;
        margin-bottom: 2px;
        &:hover{
            color: $orange;
        }
        &::after{
            content:"";
            position: absolute;
            right: -6px;
            top: 1px;
            width: 1px;
            height: 14px;
            background-color: $gray;
        }
        &:last-child::after{
            content: none;
        }
    }
    p{
        color: $gray;
        font-size: 12px;
        a:hover{
            color: $orange;
        }
    }
    .info-link{
        padding-left: 66px;
        padding-top: 5px;
        img{
            width: auto;
            height: 28px;
        }
    }
    .bottom-idea{
        margin: 30px auto 0;
        width: 100%;
        height: 19px;
        background: url(../../icons/slogan2020.png) no-repeat center 0;
    }
}
// 底部切换
.bottom-handoff{
    position: relative;
    img{
        position: absolute;
    }
}